<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Atlética UNESP Bauru</title>
    <meta name="description" content="Associação Atlética Acadêmica Unesp Bauru">

    <!-- FREELANCER / CDN STUFF  -->
      <!-- Bootstrap Core CSS -->
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <!-- Custom Fonts -->
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
      <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">

      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    <!-- END STUFF  -->

    <!-- PWA DECLARATION -->
      <link rel="shortcut icon" href="favicon.ico" />
      <link rel="icon" type="image/png" sizes="32x32" href="/static/img/atletica-icons-alpha/logo-atletica-32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/static/img/atletica-icons-alpha/logo-atletica-16.png">
      <!--[if IE]><link rel="shortcut icon" href="/static/img/atletica-icons-alpha/favicon.ico"><![endif]-->
      <!-- Add to home screen for Android and modern mobile browsers -->
      <link rel="manifest" href="/static/manifest.json">
      <meta name="theme-color" content="gold">

      <!-- Add to home screen for Safari on iOS -->
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="black">
      <meta name="apple-mobile-web-app-title" content="site-aaa-unesp-bauru">
      <link rel="apple-touch-icon" href="/static/img/atletica-icons-alpha/logo-atletica-144.png">
      <!-- Add to home screen for Windows -->
      <meta name="msapplication-TileImage" content="/static/img/atletica-icons-alpha/logo-atletica-144.png">
      <meta name="msapplication-TileColor" content="#000000">
    <!-- END PWA DECLARATION -->

    <% for (var chunk of webpack.chunks) {
        for (var file of chunk.files) {
          if (file.match(/\.(js|css)$/)) { %>
    <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>"><% }}} %>
  </head>
  <body>
    <noscript>
      <p>Não foi possível carregar o site. Seu navegador não carregou nosso JavaScript.</p>
      <p>Could not load site. Your browser did not load our JavaScript.</p>
    </noscript>
    <div id="app"></div>
    <!-- Todo: only include in production -->
    <%= htmlWebpackPlugin.options.serviceWorkerLoader %>
    <!-- built files will be auto injected -->


    <!-- FREELANCER / CDN STUFF  -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <!-- Bootstrap Core JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <!-- Plugin JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
      <!-- Custom Theme JavaScript -->
      <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-freelancer/3.3.7/js/freelancer.min.js"></script> -->
      <script src="/static/js/freelancer.min.js"></script>
    <!-- FREELANCER / CDN STUFF  -->

    <!-- VUE CDN
      <script src="https://unpkg.com/vue"></script>
      <script src="https://unpkg.com/vuex"></script>
      <script src="https://unpkg.com/marked@0.3.6"></script>
      <script src="https://unpkg.com/rxjs/bundles/Rx.min.js"></script>
    -->

    <!-- FIREBASE CDN
      <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
      <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase-app.js"></script>
      <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase-auth.js"></script>
      <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase-database.js"></script>
      <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase-storage.js"></script>
    -->

    <!-- google-analytics  -->
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-92166189-3', 'auto');
        ga('send', 'pageview');
      </script>
    <!-- google-analytics  -->
  </body>
</html>
