<section id="produtos">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Produtos</h2>
				<hr class="star-primary">
			</div>
		</div>
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				{% for post in site.posts %}{% if post.category != "Produto" %}{% else %}
					<li data-target="#carousel-example-generic" data-slide-to="{{ post.id }}" {{ post.active | "" }}></li>
				{% endif %}{% endfor %}
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				{% for post in site.posts %}{% if post.category == "Produto" %}
					{% if post.active %}<div class="item active">{% else %}<div class="item{{ post.active | ""}}">{% endif %}
						<img src="{{ site.baseurl }}/{{ post.img }}" class="img-responsive" alt="">
						<div class="carousel-caption">
							<h3>{{ post.title }}</h3>
						</div>
					</div>
				{% endif %}{% endfor %}
			</div>
			<!-- Controls -->
			<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
</section>
