
<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header page-scroll">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#page-top">Atlética UNESP Bauru</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li class="hidden">
					<a href="#page-top"></a>
				</li>
				<li class="page-scroll">
					<a href="#sobre">Sobre</a>
				</li>
				<li class="page-scroll">
					<a href="#gestoes">Gestões</a>
				</li>
				<li class="page-scroll">
					<a href="#treinos">Treinos</a>
				</li>
				<li class="page-scroll">
					<a href="#torcidas">Torcidas</a>
				</li>
				<li class="page-scroll">
					<a href="#produtos">Produtos</a>
				</li>
				<li class="page-scroll">
					<a href="#parceiros">Parceiros</a>
				</li>
				<li class="page-scroll">
					<a href="#galeria">Galeria</a>
				</li>
				<li class="page-scroll">
					<a href="#contato">Contato</a>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<img class="img-responsive" src="img/logo-atletica.png" alt="">
				<div class="intro-text">
					<hr class="star-light">
					<span class="skills">Associação Atlética Acadêmica Unesp Bauru</span>
				</div>
			</div>
		</div>
	</div>
</header>


<!-- sobre -->
<section id="sobre">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Sobre</h2>
				<hr class="star-primary">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<img class="img-responsive quadro" src="doc/1-quadro.png"
				alt="Quadro de explicação da AAA, com foto" />
			</div>
		</div>
	</div>
</section>

<!-- Gestoes -->
<app-home-gestoes>Gestoes ...</app-home-gestoes>

<!-- Treinos -->
<app-home-treinos>Treinos ...</app-home-treinos>

<!-- Torcidas -->
<app-home-torcidas>Torcidas ...</app-home-torcidas>

<!-- Produtos -->
<app-home-produtos>Produtos ...</app-home-produtos>

<!-- Parceiros -->
<app-home-parceiros>Parceiros ...</app-home-parceiros>

<!-- Galeria -->
<app-home-galeria>Galeria ...</app-home-galeria>

<!-- Contato -->
<section id="contato">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Contato</h2>
				<hr class="star-primary">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d230.63002650651453!2d-49.032176605463725!3d-22.350591942249594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94bf5dfab88ecb79%3A0x49d5511878f2b402!2sDAFAE!5e0!3m2!1spt-BR!2sbr!4v1491441567610" width="750" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</section>


		<!-- Footer -->
<footer class="text-center">
	<div class="footer-above">
		<div class="container">
			<div class="row">
				<div class="footer-col col-md-4">
					<h3>Location</h3>
					<p>Av. Eng. Luiz Edmundo Carrijo Coube, 14-01
						<br>Núcleo Residencial Presidente Geisel, Bauru, SP 17033-360</p>
				</div>
				<div class="footer-col col-md-4">
					<h3>Around the Web</h3>
					<ul class="list-inline">
						
						<li>
							<a href="https://www.facebook.com/atleticaunespbauru1" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
						</li>
						
						
						
						<li>
							<a href="https://github.com/luis-puhl" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
						</li>
						
						
						<li>
							<a href="https://www.instagram.com/atleticaunespbauru1" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a>
						</li>
						
						
						
						
						
					</ul>
				</div>
				<div class="footer-col col-md-4">
					<h3>About Atlética UNESP Bauru</h3>
					<p><a href="http://startbootstrap.com">Start Bootstrap</a> is an open source library of Bootstrap themes and templates.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-below">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					Copyright &copy; Your Website 2017
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
	<a class="btn btn-primary" href="#page-top">
		<i class="fa fa-chevron-up"></i>
	</a>
</div>


		
<div class="portfolio-modal modal fade" id="modalGestaoAtual" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-content">
		<div class="close-modal" data-dismiss="modal">
			<div class="lr">
				<div class="rl">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="modal-body">
						<h2>Gestão Atual</h2>
						<hr class="star-primary">
						<img src="/img/gestoes/atual.png" class="img-responsive img-centered" alt="">
						<p>Gestão Atual</p>

						<ul class="list-inline item-details">
							<li>Category:
								<strong>Gestao
									</strong>
							</li>
							<li>Date:
								<strong>February 2016
									</strong>
							</li>
						</ul>
						<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="portfolio-modal modal fade" id="modalTreinoXadrez" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-content">
		<div class="close-modal" data-dismiss="modal">
			<div class="lr">
				<div class="rl">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="modal-body">
						<h2>Xadrez</h2>
						<hr class="star-primary">
						<img src="/img/treinos/xadrez.png" class="img-responsive img-centered" alt="">
						<p>Treinos de Xadrez.</p>

						<ul class="list-inline item-details">
							<li>Category:
								<strong>Treino
									</strong>
							</li>
							<li>Date:
								<strong>February 2016
									</strong>
							</li>
						</ul>
						<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="portfolio-modal modal fade" id="modalTreinoVolei" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-content">
		<div class="close-modal" data-dismiss="modal">
			<div class="lr">
				<div class="rl">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="modal-body">
						<h2>Vôlei</h2>
						<hr class="star-primary">
						<img src="/img/treinos/volei.png" class="img-responsive img-centered" alt="">
						<p>Treinos de Vôlei.</p>

						<ul class="list-inline item-details">
							<li>Category:
								<strong>Treino
									</strong>
							</li>
							<li>Date:
								<strong>February 2016
									</strong>
							</li>
						</ul>
						<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="portfolio-modal modal fade" id="modalTreinoVoleiPraia" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-content">
		<div class="close-modal" data-dismiss="modal">
			<div class="lr">
				<div class="rl">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="modal-body">
						<h2>Vôlei de Praia</h2>
						<hr class="star-primary">
						<img src="/img/treinos/volei-praia.png" class="img-responsive img-centered" alt="">
						<p>Treinos de Vôlei de Praia.</p>

						<ul class="list-inline item-details">
							<li>Category:
								<strong>Treino
									</strong>
							</li>
							<li>Date:
								<strong>February 2016
									</strong>
							</li>
						</ul>
						<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="portfolio-modal modal fade" id="modalTorcidaTexuguetes" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-content">
		<div class="close-modal" data-dismiss="modal">
			<div class="lr">
				<div class="rl">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="modal-body">
						<h2>Texuguetes</h2>
						<hr class="star-primary">
						<img src="/img/torcidas/texuguetes.png" class="img-responsive img-centered" alt="">
						<p>Texuguetes</p>

						<ul class="list-inline item-details">
							<li>Category:
								<strong>Torcida
									</strong>
							</li>
							<li>Date:
								<strong>February 2016
									</strong>
							</li>
						</ul>
						<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="portfolio-modal modal fade" id="modalGaleriaTexugoPascoa" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-content">
		<div class="close-modal" data-dismiss="modal">
			<div class="lr">
				<div class="rl">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="modal-body">
						<h2>Texugo da Páscoa</h2>
						<hr class="star-primary">
						<img src="/img/galerias/texugo-pascoa.png" class="img-responsive img-centered" alt="">
						<p>Texugo da Páscoa</p>

						<ul class="list-inline item-details">
							<li>Category:
								<strong>Galeria
									</strong>
							</li>
							<li>Date:
								<strong>February 2016
									</strong>
							</li>
						</ul>
						<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="portfolio-modal modal fade" id="modalTreinoTenisMesa" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-content">
		<div class="close-modal" data-dismiss="modal">
			<div class="lr">
				<div class="rl">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="modal-body">
						<h2>Tênis de Mesa</h2>
						<hr class="star-primary">
						<img src="/img/treinos/tenis-mesa.png" class="img-responsive img-centered" alt="">
						<p>Treinos de Tenis de Mesa.</p>

						<ul class="list-inline item-details">
							<li>Category:
								<strong>Treino
									</strong>
							</li>
							<li>Date:
								<strong>February 2016
									</strong>
							</li>
						</ul>
						<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="portfolio-modal modal fade" id="modalTreinoTenisCampo" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-content">
		<div class="close-modal" data-dismiss="modal">
			<div class="lr">
				<div class="rl">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="modal-body">
						<h2>Tênis de Campo</h2>
						<hr class="star-primary">
						<img src="/img/treinos/tenis-campo.png" class="img-responsive img-centered" alt="">
						<p>Treinos de Tênis de Campo.</p>

						<ul class="list-inline item-details">
							<li>Category:
								<strong>Treino
									</strong>
							</li>
							<li>Date:
								<strong>February 2016
									</strong>
							</li>
						</ul>
						<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="portfolio-modal modal fade" id="modalProdutoSambaCancao" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-content">
		<div class="close-modal" data-dismiss="modal">
			<div class="lr">
				<div class="rl">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="modal-body">
						<h2>Samba Canção</h2>
						<hr class="star-primary">
						<img src="/img/produtos/samba-cancao.png" class="img-responsive img-centered" alt="">
						<p>Samba Canção</p>

						<ul class="list-inline item-details">
							<li>Category:
								<strong>Produto
									</strong>
							</li>
							<li>Date:
								<strong>February 2016
									</strong>
							</li>
						</ul>
						<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="portfolio-modal modal fade" id="modalProdutoCaneca" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-content">
		<div class="close-modal" data-dismiss="modal">
			<div class="lr">
				<div class="rl">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="modal-body">
						<h2>Caneca</h2>
						<hr class="star-primary">
						<img src="/img/produtos/caneca.png" class="img-responsive img-centered" alt="">
						<p>Caneca</p>

						<ul class="list-inline item-details">
							<li>Category:
								<strong>Produto
									</strong>
							</li>
							<li>Date:
								<strong>February 2016
									</strong>
							</li>
						</ul>
						<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="portfolio-modal modal fade" id="" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-content">
		<div class="close-modal" data-dismiss="modal">
			<div class="lr">
				<div class="rl">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="modal-body">
						<h2>Auto-Escola</h2>
						<hr class="star-primary">
						<img src="/img/parceiros/auto-escola.png" class="img-responsive img-centered" alt="">
						<p>Parceiro Auto-Escola.</p>

						<ul class="list-inline item-details">
							<li>Category:
								<strong>Parceiro
									</strong>
							</li>
							<li>Date:
								<strong>February 2016
									</strong>
							</li>
						</ul>
						<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="portfolio-modal modal fade" id="modalTorcidaNauteria" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-content">
		<div class="close-modal" data-dismiss="modal">
			<div class="lr">
				<div class="rl">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="modal-body">
						<h2>Nauteria</h2>
						<hr class="star-primary">
						<img src="/img/torcidas/nauteria.png" class="img-responsive img-centered" alt="">
						<p>Nauteria</p>

						<ul class="list-inline item-details">
							<li>Category:
								<strong>Torcida
									</strong>
							</li>
							<li>Date:
								<strong>February 2016
									</strong>
							</li>
						</ul>
						<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="portfolio-modal modal fade" id="modalTreinoNatacao" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-content">
		<div class="close-modal" data-dismiss="modal">
			<div class="lr">
				<div class="rl">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="modal-body">
						<h2>Natação</h2>
						<hr class="star-primary">
						<img src="/img/treinos/natacao.png" class="img-responsive img-centered" alt="">
						<p>Treinos de Natação.</p>

						<ul class="list-inline item-details">
							<li>Category:
								<strong>Treino
									</strong>
							</li>
							<li>Date:
								<strong>February 2016
									</strong>
							</li>
						</ul>
						<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="portfolio-modal modal fade" id="modalTreinoJudo" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-content">
		<div class="close-modal" data-dismiss="modal">
			<div class="lr">
				<div class="rl">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="modal-body">
						<h2>Judo</h2>
						<hr class="star-primary">
						<img src="/img/treinos/judo.png" class="img-responsive img-centered" alt="">
						<p>Treinos de Judo.</p>

						<ul class="list-inline item-details">
							<li>Category:
								<strong>Treino
									</strong>
							</li>
							<li>Date:
								<strong>February 2016
									</strong>
							</li>
						</ul>
						<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="portfolio-modal modal fade" id="modalTreinoHandebol" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-content">
		<div class="close-modal" data-dismiss="modal">
			<div class="lr">
				<div class="rl">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="modal-body">
						<h2>Handebol</h2>
						<hr class="star-primary">
						<img src="/img/treinos/handebol.png" class="img-responsive img-centered" alt="">
						<p>Treinos de Handebol.</p>

						<ul class="list-inline item-details">
							<li>Category:
								<strong>Treino
									</strong>
							</li>
							<li>Date:
								<strong>February 2016
									</strong>
							</li>
						</ul>
						<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="portfolio-modal modal fade" id="modalGestaoVelhaGuarda" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-content">
		<div class="close-modal" data-dismiss="modal">
			<div class="lr">
				<div class="rl">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="modal-body">
						<h2>Velha Guarda</h2>
						<hr class="star-primary">
						<img src="/img/gestoes/velha-guarda.png" class="img-responsive img-centered" alt="">
						<p>Velha Guarda</p>

						<ul class="list-inline item-details">
							<li>Category:
								<strong>Gestao
									</strong>
							</li>
							<li>Date:
								<strong>February 2016
									</strong>
							</li>
						</ul>
						<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="portfolio-modal modal fade" id="modalTreinoFutsal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-content">
		<div class="close-modal" data-dismiss="modal">
			<div class="lr">
				<div class="rl">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="modal-body">
						<h2>Futsal</h2>
						<hr class="star-primary">
						<img src="/img/treinos/futsal.png" class="img-responsive img-centered" alt="">
						<p>Treinos de Futsal.</p>

						<ul class="list-inline item-details">
							<li>Category:
								<strong>Treino
									</strong>
							</li>
							<li>Date:
								<strong>February 2016
									</strong>
							</li>
						</ul>
						<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="portfolio-modal modal fade" id="modalTreinoFutebolCampo" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-content">
		<div class="close-modal" data-dismiss="modal">
			<div class="lr">
				<div class="rl">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="modal-body">
						<h2>Futebol de Campo</h2>
						<hr class="star-primary">
						<img src="/img/treinos/futebol-campo.png" class="img-responsive img-centered" alt="">
						<p>Treinos de Futebol de Campo.</p>

						<ul class="list-inline item-details">
							<li>Category:
								<strong>Treino
									</strong>
							</li>
							<li>Date:
								<strong>February 2016
									</strong>
							</li>
						</ul>
						<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="portfolio-modal modal fade" id="modalTorcidaFebreAmarela" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-content">
		<div class="close-modal" data-dismiss="modal">
			<div class="lr">
				<div class="rl">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="modal-body">
						<h2>Febre Amarela</h2>
						<hr class="star-primary">
						<img src="/img/torcidas/febre-amarela.png" class="img-responsive img-centered" alt="">
						<p>Febre Amarela</p>

						<ul class="list-inline item-details">
							<li>Category:
								<strong>Torcida
									</strong>
							</li>
							<li>Date:
								<strong>February 2016
									</strong>
							</li>
						</ul>
						<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="portfolio-modal modal fade" id="modalGaleriaDoaUnesp" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-content">
		<div class="close-modal" data-dismiss="modal">
			<div class="lr">
				<div class="rl">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="modal-body">
						<h2>Doa Unesp</h2>
						<hr class="star-primary">
						<img src="/img/galerias/doa-unesp.png" class="img-responsive img-centered" alt="">
						<p>Doa Unesp</p>

						<ul class="list-inline item-details">
							<li>Category:
								<strong>Galeria
									</strong>
							</li>
							<li>Date:
								<strong>February 2016
									</strong>
							</li>
						</ul>
						<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="portfolio-modal modal fade" id="modalGaleriaBaticun" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-content">
		<div class="close-modal" data-dismiss="modal">
			<div class="lr">
				<div class="rl">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="modal-body">
						<h2>Baticun</h2>
						<hr class="star-primary">
						<img src="/img/galerias/baticun.png" class="img-responsive img-centered" alt="">
						<p>Baticun</p>

						<ul class="list-inline item-details">
							<li>Category:
								<strong>Galeria
									</strong>
							</li>
							<li>Date:
								<strong>February 2016
									</strong>
							</li>
						</ul>
						<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="portfolio-modal modal fade" id="modalTreinoBasquete" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-content">
		<div class="close-modal" data-dismiss="modal">
			<div class="lr">
				<div class="rl">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="modal-body">
						<h2>Basquete</h2>
						<hr class="star-primary">
						<img src="/img/treinos/basquete.png" class="img-responsive img-centered" alt="">
						<p>Treinos de Basquete.</p>

						<ul class="list-inline item-details">
							<li>Category:
								<strong>Treino
									</strong>
							</li>
							<li>Date:
								<strong>February 2016
									</strong>
							</li>
						</ul>
						<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="portfolio-modal modal fade" id="modalTreinoAtletismo" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-content">
		<div class="close-modal" data-dismiss="modal">
			<div class="lr">
				<div class="rl">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="modal-body">
						<h2>Atletismo</h2>
						<hr class="star-primary">
						<img src="/img/treinos/atletismo.png" class="img-responsive img-centered" alt="">
						<p>Treinos de Atletismo.</p>

						<ul class="list-inline item-details">
							<li>Category:
								<strong>Treino
									</strong>
							</li>
							<li>Date:
								<strong>February 2016
									</strong>
							</li>
						</ul>
						<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

