
<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header page-scroll">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#page-top">Atlética UNESP Bauru</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li class="hidden">
					<a href="#page-top"></a>
				</li>
				<li class="page-scroll">
					<a href="#sobre">Sobre</a>
				</li>
				<li class="page-scroll">
					<a href="#gestoes">Gestões</a>
				</li>
				<li class="page-scroll">
					<a href="#treinos">Treinos</a>
				</li>
				<li class="page-scroll">
					<a href="#torcidas">Torcidas</a>
				</li>
				<li class="page-scroll">
					<a href="#produtos">Produtos</a>
				</li>
				<li class="page-scroll">
					<a href="#parceiros">Parceiros</a>
				</li>
				<li class="page-scroll">
					<a href="#galeria">Galeria</a>
				</li>
				<li class="page-scroll">
					<a href="#contato">Contato</a>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<img class="img-responsive" src="img/logo-atletica.png" alt="">
				<div class="intro-text">
					<hr class="star-light">
					<span class="skills">Associação Atlética Acadêmica Unesp Bauru</span>
				</div>
			</div>
		</div>
	</div>
</header>


<!-- sobre -->
<section id="sobre">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Sobre</h2>
				<hr class="star-primary">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<img class="img-responsive quadro" src="doc/1-quadro.png"
				alt="Quadro de explicação da AAA, com foto" />
			</div>
		</div>
	</div>
</section>

<!-- Gestoes -->
<app-home-gestoes>Gestoes ...</app-home-gestoes>

<!-- Treinos -->
<app-home-treinos>Treinos ...</app-home-treinos>

<!-- Torcidas -->
<app-home-torcidas>Torcidas ...</app-home-torcidas>

<!-- Produtos -->
<app-home-produtos>Produtos ...</app-home-produtos>

<!-- Parceiros -->
<app-home-parceiros>Parceiros ...</app-home-parceiros>

<!-- Galeria -->
<app-home-galeria>Galeria ...</app-home-galeria>

<!-- Contato -->
<section id="contato">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Contato</h2>
				<hr class="star-primary">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d230.63002650651453!2d-49.032176605463725!3d-22.350591942249594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94bf5dfab88ecb79%3A0x49d5511878f2b402!2sDAFAE!5e0!3m2!1spt-BR!2sbr!4v1491441567610" width="750" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</section>


<!-- Footer -->
<footer class="text-center">
	<div class="footer-above">
		<div class="container">
			<div class="row">
				<div class="footer-col col-md-4">
					<h3>Location</h3>
					<p>Av. Eng. Luiz Edmundo Carrijo Coube, 14-01
						<br>Núcleo Residencial Presidente Geisel, Bauru, SP 17033-360</p>
				</div>
				<div class="footer-col col-md-4">
					<h3>Around the Web</h3>
					<ul class="list-inline">
						
						<li>
							<a href="https://www.facebook.com/atleticaunespbauru1" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
						</li>
						
						
						
						<li>
							<a href="https://github.com/luis-puhl" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
						</li>
						
						
						<li>
							<a href="https://www.instagram.com/atleticaunespbauru1" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a>
						</li>
						
						
						
						
						
					</ul>
				</div>
				<div class="footer-col col-md-4">
					<h3>About Atlética UNESP Bauru</h3>
					<p><a href="http://startbootstrap.com">Start Bootstrap</a> is an open source library of Bootstrap themes and templates.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-below">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					Copyright &copy; Your Website 2017
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
	<a class="btn btn-primary" href="#page-top">
		<i class="fa fa-chevron-up"></i>
	</a>
</div>
